@page "/Dashboard"

<PageTitle>Index</PageTitle>

@*<MudText Typo="Typo.h3" GutterBottom="true">Dashboard/Home</MudText>*@
<div class="page-header dashboard-page">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">Welcome Admin!</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item active">Dashboard</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="dashboard-image">
            </div>
        </div>
    </div>
</div>
@*<MudText Class="mb-8">Welcome to your new app, powered by MudBlazor!</MudText>*@
@*<MudAlert Severity="Severity.Normal">You can find documentation and examples on our website here: <MudLink Href="https://mudblazor.com" Typo="Typo.body2" Color="Color.Inherit"><b>www.mudblazor.com</b></MudLink></MudAlert>*@
