@inherits LayoutComponentBase

<div class="page">

    <div class="main">

        <MudThemeProvider />
        <MudDialogProvider />
        <MudSnackbarProvider />

        <MudLayout>
            <MudMainContent>
                @Body
            </MudMainContent>
        </MudLayout>

    </div>
</div>
